.switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 55px;
  height: 20px;
  padding: 6px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid whitesmoke;
  transition: background-color .4s;

}

.switch[data-isOn="false"] {
  justify-content: flex-end;
  background-color: rgb(182, 180, 180);
}

.handle[data-isOn="false"] {
  background-color: #212529 !important;
}

.handle {
  width: 13px;
  height: 13px;
  background-color: rgb(212, 212, 212);
  border-radius: 40px;
}

.icons {
  display: flex;
  color: #417257e3;
  gap: 1rem;
  transform: translateY(-1rem);
  list-style: none;
  font-size: 2vw;
  margin: 0;
  padding: 0 2rem;
}

.icons>i {
  display: flex;
  transition: all .3s;
}

.icons[data-theme='false'] {
  color: #0C494F;
}