:root {
  --lightText: #05005A;
  --darkText: #FFFBFF;
}

.skills {
  color: var(--lightText);
  padding: 3rem;
  min-width: fit-content;
  letter-spacing: 2px;
  transition: color .3s, border .3s, box-shadow .3s;
  -webkit-box-shadow: 5px 5px 9px 5px rgba(0, 0, 0, 0.39);
  box-shadow: 5px 5px 9px 5px rgba(0, 0, 0, 0.39);
}

.skills[data-theme='false'] {
  color: var(--darkText);
  -webkit-box-shadow: 5px 5px 9px 5px rgba(111, 111, 111, 0.39);
  box-shadow: 5px 5px 9px 5px rgba(111, 111, 111, 0.39);
}