:root {
  --lightText: #05005A;
  --darkText: #FFFBFF;
  --background: #5D737E;
}

.main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn--container {
  margin: 3rem;
  display: flex;
  gap: 3rem;
}

.btn-tabs {
  flex-basis: auto;
  padding: .5rem .5rem;
  color: var(--lightText);
  background-color: rgba(93, 115, 126, .3);
  border-radius: .5rem;
  transition: background-color .3s, color .3s;
}

.btn-tabs[data-theme='false'] {
  color: var(--darkText);
  background-color: rgba(93, 115, 126, .3);
}

@media (max-width: 768px) {
  .btn--container {
    flex-direction: column;
    gap: 2rem;
  }
}