.title {
  color: #fff;
  text-shadow: 1px 6px 15px #000000;
  /* -webkit-box-shadow: inset 0px 0px 15px 10px #000000;  */
  /* box-shadow: inset 0px 0px 15px 10px #000000;
  border-radius: 1rem; */
}