:root {
    --main: #188F9C;
    --accent: #417257e3;
    --light-text: #161a1d;
    --dark-text: #BDF2F0;
    --light-background: #9CDED3;
    --dark-background: #9CDED3;
}

.aboutMe {
    color: var(--light-text);
    background-color: var(--accent);
    padding: 3rem;
    min-width: fit-content;
    font-weight: 600;
    letter-spacing: 2px;
    transition: color .3s, border .3s, box-shadow .3s;
    -webkit-box-shadow: 5px 5px 9px 5px rgba(0, 0, 0, 0.39);
    box-shadow: 5px 5px 9px 5px rgba(0, 0, 0, 0.39);
    transition: all .3s;

}

.aboutMe[data-theme='false'] {
    color: #FFFFFF;
    background-color: #0C494F;
    -webkit-box-shadow: 5px 5px 9px 5px rgba(111, 111, 111, 0.39);
    box-shadow: 5px 5px 9px 5px rgba(111, 111, 111, 0.39);
}