.App {
  font-family: 'Lora', serif;
  background: #F5F5F5;
  transition: background .3s;
}

.App[data-theme="false"] {
  background: #05005A;
}

.app--container {
  min-height: 100vh;
  margin: 0 16%
}