.App {
  font-family: 'Lora', serif;
  background: #b9b9b9;
  transition: background 3s;
}

body {
  min-height: 100vh;
}

.App[data-theme="false"] {
  background: #05005A;
}

.container {
  height: 100%;
}

.app--container {}